.branches {
}

.branch {
  td {
    vertical-align: middle;
    text-align: center;
    height: 10px;
  }
}

.commit-node {
  list-style: none;
  width: 10px;
}

.commit-divider {
  width: 100%;
  height: 2px;
  border: 1px solid coral;
  background: chocolate;
}

.tdd {
  width: 20px;
}
